Node-Red-Flow.json
[{"id":"3acafbda.3c860c","type":"debug","z":"ca5237f4.5a3cb8","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":460,"wires":[]},{"id":"d15c089.4d4f978","type":"mqtt in","z":"ca5237f4.5a3cb8","name":"","topic":"oximeter/json","qos":"1","datatype":"auto","broker":"f0308c03.89cab","x":130,"y":200,"wires":[["90f9555f.187f18","90539172.f8363","5a80284a.c1c3","865e7e30.596248"]]},{"id":"5fbc4a0f.188f9c","type":"ui_chart","z":"ca5237f4.5a3cb8","name":"","group":"aded1cd4.50ca08","order":1,"width":0,"height":0,"label":"SPo2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"70","ymax":"100","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":200,"wires":[[]]},{"id":"ba79f289.c9be98","type":"ui_chart","z":"ca5237f4.5a3cb8","name":"","group":"42c7375a.0fe398","order":1,"width":0,"height":0,"label":"HR","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"220","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":280,"wires":[[]]},{"id":"bd0639a8.45f208","type":"ui_chart","z":"ca5237f4.5a3cb8","name":"","group":"8de27bf8.57ecf","order":1,"width":0,"height":0,"label":"PI","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":360,"wires":[[]]},{"id":"cca44e58.c1ee68","type":"function","z":"ca5237f4.5a3cb8","name":"write to file","func":"var d = new Date().toLocaleString();\n\nvar b = msg.payload\nmsg.payload = d + \";\" + b;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":500,"wires":[[]]},{"id":"90f9555f.187f18","type":"json","z":"ca5237f4.5a3cb8","name":"","property":"payload","action":"str","pretty":true,"x":270,"y":500,"wires":[["cca44e58.c1ee68","47c35223.5c386c"]]},{"id":"d2c58653.b2785","type":"ui_gauge","z":"ca5237f4.5a3cb8","name":"HR","group":"42c7375a.0fe398","order":2,"width":0,"height":0,"gtype":"gage","title":"HR","label":"BpM","format":"{{value}}","min":0,"max":"220","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"170","x":730,"y":320,"wires":[]},{"id":"dbc0c1a.e0029c","type":"ui_gauge","z":"ca5237f4.5a3cb8","name":"PI","group":"8de27bf8.57ecf","order":2,"width":0,"height":0,"gtype":"gage","title":"PI","label":"%","format":"{{value}}","min":"0","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":400,"wires":[]},{"id":"88360fa0.807608","type":"ui_gauge","z":"ca5237f4.5a3cb8","name":"SPO2","group":"aded1cd4.50ca08","order":2,"width":0,"height":0,"gtype":"gage","title":"SPO2","label":"% Percent","format":"{{value}}","min":0,"max":"100","colors":["#ff2600","#e6e600","#00fa00"],"seg1":"90","seg2":"94","x":730,"y":240,"wires":[]},{"id":"ab4a5de8.319e98","type":"change","z":"ca5237f4.5a3cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.spo2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":200,"wires":[["5fbc4a0f.188f9c","88360fa0.807608"]]},{"id":"4ab54ad3.0523fc","type":"change","z":"ca5237f4.5a3cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.bpm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":260,"wires":[["ba79f289.c9be98","d2c58653.b2785"]]},{"id":"e761b8f8.27686","type":"change","z":"ca5237f4.5a3cb8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.pi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":320,"wires":[["bd0639a8.45f208","dbc0c1a.e0029c","3acafbda.3c860c"]]},{"id":"90539172.f8363","type":"json","z":"ca5237f4.5a3cb8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":200,"wires":[["ab4a5de8.319e98"]]},{"id":"5a80284a.c1c3","type":"json","z":"ca5237f4.5a3cb8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":320,"wires":[["e761b8f8.27686"]]},{"id":"865e7e30.596248","type":"json","z":"ca5237f4.5a3cb8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":260,"wires":[["4ab54ad3.0523fc"]]},{"id":"98404dc.af6523","type":"inject","z":"ca5237f4.5a3cb8","name":"Clear Charts","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":120,"wires":[["1bff6d07.4e80ab"]]},{"id":"1bff6d07.4e80ab","type":"function","z":"ca5237f4.5a3cb8","name":"Reset","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":120,"wires":[["5fbc4a0f.188f9c","88360fa0.807608","ba79f289.c9be98","d2c58653.b2785","bd0639a8.45f208","dbc0c1a.e0029c"]]},{"id":"47c35223.5c386c","type":"debug","z":"ca5237f4.5a3cb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":580,"wires":[]},{"id":"f0308c03.89cab","type":"mqtt-broker","z":"","name":"test.mosquitto.org","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aded1cd4.50ca08","type":"ui_group","z":"","name":"SPO2","tab":"239dc1bb.43e106","order":1,"disp":false,"width":"6","collapse":false},{"id":"42c7375a.0fe398","type":"ui_group","z":"","name":"HR","tab":"239dc1bb.43e106","order":2,"disp":false,"width":"6","collapse":false},{"id":"8de27bf8.57ecf","type":"ui_group","z":"","name":"PI","tab":"239dc1bb.43e106","order":3,"disp":false,"width":"6","collapse":false},{"id":"239dc1bb.43e106","type":"ui_tab","z":"","name":"Health","icon":"dashboard","order":1,"disabled":false,"hidden":false}]